

/* written
.centered-container {
width: 800px;
height: 500px;
background-color: #3f3f3f;
padding: 20px;
position:absolute;
top:15%;
left:25%;
}

/* provided
.contact-tab {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateX(50px) rotate(-90deg);
    width: 100px;
    background-color: #2E75B5;
    color: white;
    padding: 10px 20px;
    text-align: center;
    font-weight: bold;
    border-radius: 10px 10px 0 0;
    cursor: pointer;
} /*

/*  written
.contact-tab{
    border: solid 2px black;
    background-color: aquamarine;
    width: 100px;
    height:100px;
    align-items: center;
    justify-content: center;
    display:flex;
    transform: rotate(-90deg);
    position: absolute;
    right: 0%;
    top:50%;
}
*/

/* from floats to grid practice ----------------- header links
.link1{
    grid-area: link1;
}
.link2{
    grid-area: link2;
}
.link3{
    grid-area: link3;
}
.link4{
    grid-area: link4;
}

.main-nav { 
    background-color: #333; 
    overflow: hidden;
}
 
.menu { 
    list-style-type: none; 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 4fr;
    grid-template-rows: auto;
    grid-template-areas: "link1 link2 link3 link4 -----";
} 
 
.menu li { 
    display: flex;
} 
 
.menu li a { 
    display: block; 
    color: white; 
    text-align: center; 
    padding: 14px 20px; 
    text-decoration: none; 
} 
 
.menu li a:hover { 
    background-color: #555; 
}

*/

/*    ----------------------------  article cards practice grid
*{
    margin:0;
}

.container{
    margin:0 auto;
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "sidebar main main main main"
                         "sidebar main main main main"
                         "sidebar main main main main";

}

.sidebar{
    grid-area: sidebar;
    min-width: 100px;
    background-color: grey;
    color: black;
    text-align: center;
    
    
}

.mainContent{
    grid-area: main;
    display: flex;
}

.card1{
    background-color: rgb(18, 82, 0);
    color: white;
    border: solid black 2px;
    display:flex;
    transition: all ease-in-out 0.5s; 
}

.card2{
    background-color: rgb(21, 182, 0);
    color: white;
    border: solid black 2px;
    display:flex;
    transition: all ease-in-out 0.5s;
}

.card3{
    background-color: rgb(66, 228, 45);
    color: white;
    border: solid black 2px;
    display:flex;
    transition: all ease-in-out 0.5s;
}

#card{
    display: block;
}

#card:hover{
    background-color: rgb(207, 248, 248);
    color:rgb(68, 48, 0);
}
*/

/* 
media queries e.g 1 (provided)
#container { 
  width: 100%; 
  padding: 15px; 
  background-color: #f0f0f0; 
  font-size: 16px; 
  display: flex; 
  flex-direction: column; 
  background-color: red; 
} 
 
#container h1 { 
  font-size: 24px; 
  margin-bottom: 15px; 
} 
 
#container .content { 
  margin-bottom: 10px; 
} 
 
/* Tablet (481px to 768px)  
@media screen and (min-width: 481px) { 
  #container { 
    padding: 20px; 
    font-size: 17px;  
    background-color: blue; 
  } 
   
  #container h1 { 
    font-size: 28px; 
  } 
} 
 
/* Laptop (769px to 1024px) 
@media screen and (min-width: 769px) { 
  #container { 
    width: 90%; 
    margin: 0 auto; 
    padding: 25px; 
    font-size: 18px; 
    background-color: yellow; 
  } 
   
  #container h1 { 
    font-size: 32px; 
  } 
   
  #container .content { 
    line-height: 1.5; 
  } 
} 
 
 Desktop (1025px and up) 
@media screen and (min-width: 1025px) { 
  #container { 
    width: 80%; 
    max-width: 1200px; 
    padding: 30px; 
    flex-direction: row; 
    flex-wrap: wrap; 
 background-color: green; 
  } 
   
  #container h1 { 
    width: 100%; 
    font-size: 36px; 
  } 
   
  #container .content { 
    width: 48%; 
    margin-right: 2%; 
  } 
} 
  Large screens (1440px and up) 
@media screen and (min-width: 1440px) { 
#container { 
width: 70%; 
font-size: 20px; 
} 
}

*/

.nav { 
display: flex; 
background-color: #333; 
justify-content: space-around;
} 
.nav-item { 
color: white; 
padding: 15px; 
}